PORT=            # api aplication port
NODE_ENV= # this is overridden when runnung tests

DB_USER=
DB_PORT=                # PSQL runs on 5432 by default
DB_HOST=           # OR host 127.0.0.1
DB_PASSWORD= # database user password
DB_NAME=            # production/develpoment database
DB_NAME_TEST=  # test database used for testing

JWT_SECRET= # a randomly generated string
JWT_EXPIRES_IN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=